*{
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
    color:aliceblue
}
tbody tr td #pen{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: black;
    margin-bottom: 2%;

}

.main-container .box1{
    margin-bottom: 70px;
}
input{
    color: black;
}
    .subtitle-div{
        float: left;
        margin-left: 30px;

    }
    #subtitle{
        color: black;
        margin-left: auto;
        font-size: 1.65rem;
    }
    .search-div{
        float: inline-end;
        margin-top: 8px;
        
    }
#menu-btn{
    display: none;
}

.header{
        width: 100%;
    background-color: darkgreen;
    padding: 15px 15px 15px 0px;
}
ul li a{
    display: block;
    padding: 1px;
    color: aliceblue;
    text-decoration: none;
}
.menu-btn:hover{
    cursor: pointer;
}
.menu-btn1:hover{
    cursor: pointer;
}
img{
    width: 70px;
    height: 70px;
    margin: auto;
    border: .01px solid black;
}
   #sample-subtitle-div .sample-img{
        color: black;
        font-size: 1.5rem;
    }
        #main-container{
        width:98%;
        max-width: 500px;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 5px;
        margin: 1% auto auto auto;
    }
@media (min-width:901px){
.main-container
{
    width:75%;
    margin: auto;
}
    nav{
        background-color: darkgreen;
        width: 200px;
        height: 100%;
        position: fixed;
    }
    .main-container{
        margin-left: 210px;
        display: absolute;
    }
        table{
        margin:2% 0 0 1%;
    }
    .menu-btn{
        margin-left: 40px;
    }
    #image-div{
        width: 70px;
    }
    img{
        width: 95px;
        height: 95px;
    }
    .action{
        width:auto;
    }
    #action-div{
        width:110px;
    }
    #edit-btn,#delete-btn{
        margin-top: 1.9%;
    }
    #name_div{
        max-width: 100px;
        overflow: hidden;
        word-wrap: break-word;
    }
    #contact_div{
        max-width: 20px;
        overflow: hidden;
        word-wrap: break-word;
    }
    #menu-btn:not(checked) ~ nav{
        margin-left: 0px;
    }   
    #menu-btn:checked ~ nav{
        margin-left: -100%;
    }   
}
@media (min-width:801px) and (max-width:900px){
    *{
        font-size: 1rem;
    }
        nav{
        background-color: darkgreen;
        width: 30%;
        height: 250px;
        position: fixed;
        margin-left: -100%;
    }
            table{
        margin:2% 0 0 1%;
    }
.main-container
{
    width: 99%;
    margin: auto;
}
table{
    margin: 1% auto auto auto;
}
    #menu-btn{
        width: 40%;
        display: none;
    }
    .menu-btn{
        width: 20%;
        position: fixed;
        margin-left: 35px;
    }
    .menu-btn1{
        margin-left: 55px;
    }
    .menu-btn1:hover{
        cursor: pointer;
    }
    .menu-btn:hover{
        cursor: pointer;
    }
    #menu-btn:checked ~ nav{
        margin-left: 0px;
    }
     
.btn{
        font-size: 1rem;
    }
    #image-div{
        width: 70px;
    }
    img{
        width: 80px;
        height: 80px;
    }
    .action{
        width:auto;
    }
    #action-div{
        width:110px;
    }
    #edit-btn,#delete-btn{
        margin-top: 1.9%;
    }
    #name_div{
        max-width: 100px;
        overflow: hidden;
        word-wrap: break-word;
    }
    #contact_div{
        max-width: 80px;
        overflow: hidden;
        word-wrap: break-word;
    }
}
@media (min-width:601px) and (max-width:800px){
    *{
        font-size: 1rem;
    }

    .search-div{
        float: inline-end;
        
    }
        nav{
        background-color: darkgreen;
        width: 30%;
        height: 250px;
        position: fixed;
        margin-left: -100%;
    }
            table{
        margin:2% 0 0 0;
    }
.main-container
{
    width: 99%;
    margin: auto;
}
    #menu-btn{
        width: 40%;
        display: none;
    }
    .menu-btn{
        width: 20%;
        position: fixed;
        margin-left: 35px;
    }
    .menu-btn1{
        margin-left: 55px;
    }
    .menu-btn1:hover{
        cursor: pointer;
    }
    .menu-btn:hover{
        cursor: pointer;
    }
    #menu-btn:checked ~ nav{
        margin-left: 0px;
    }
   .main-container .box1{
    margin-bottom: 80px;
}
input{
    color: black;
}

.main-container .box1{
    margin-bottom: 65px;
}
    .subtitle-div{
        float: left;
        margin-left: 10px;

    }
    #subtitle{
        color: black;
        margin-left: auto;
        font-size: 1.5rem;
    }
    .search-div{
        float: inline-end;
        margin-top: 0px;
        
    }
.btn{
        font-size: 1rem;
    }

    #image-div{
        width: 70px;
    }
    img{
        width: 70px;
        height: 70px;
    }
    .action{
        width:auto;
    }
    #action-div{
        width:110px;
    }
    #edit-btn,#delete-btn{
        margin-top: 1.9%;
    }
    #name_div{
        max-width: 100px;
        overflow: hidden;
        word-wrap: break-word;
    }
    #contact_div{
        max-width: 20px;
        overflow: hidden;
        word-wrap: break-word;
    }
}
@media (min-width:401px) and (max-width:600px){
    *{
        font-size: .937rem;
    }

    nav{
        background-color: darkgreen;
        width: 40%;
        height: 250px;
        position: fixed;
        margin-left: -100%;
    }
    table{
        margin:2% 0 0 0;
    }
    .main-container{
        margin:auto;
        width: auto;
    }
    .header{
        width: 100%;
    background-color: darkgreen;
    padding: 10px 0 10px 0px;
}
    #menu-btn{
        width: 40%;
        display: none;
    }
    .menu-btn{
        width: 20%;
        position: fixed;
        margin-left: 35px;
    }
    .menu-btn1{
        margin-left: 55px;
    }

    #menu-btn:checked ~ nav{
        margin-left: 0px;
    }

    .btn{
        font-size: .90rem;
    }
.main-container .box1{
    margin-bottom: 60px;
}
    .subtitle-div{
        float: left;
        margin-left: 10px;

    }
    #subtitle{
        color: black;
        margin-left: auto;
        font-size: 1.3rem;
    }
    .search-div{
        float: inline-end;
        margin-top: 0px;
        
    }
    #image-div{
        width: 70px;
    }
    img{
        width: 70px;
        height: 70px;
    }
    .action{
        width:50px;
    }
    #action-div{
        width:95px;
    }
    #edit-btn,#delete-btn{
        margin-top: 1.9%;
        width: 70px;
    }
    #name_div{
        max-width: 100px;
        overflow: hidden;
        word-wrap: break-word;
    }
    #contact_div{
        max-width: 20px;
        overflow: hidden;
        word-wrap: break-word;
    }

}
@media (min-width:320px) and (max-width:400px){
    *{
        font-size: .85rem;
    }
    .header{
    padding: 10px 0 10px 0px;
    }
    nav{
        background-color: darkgreen;
        width: 100%;
        height: 200px;
        position: fixed;
        margin-left: -100%;
    }
            table{
        margin:1% 0 0 0;
    }
    .main-container{
        margin:auto;
    }
    #menu-btn{
        width: 40%;
        display: none;
    }
    .menu-btn{
        width: 20%;
        position: fixed;
        margin-left: 30px;
    }
    .menu-btn1{
        margin-left: 50px;
    }

    #menu-btn:checked ~ nav{
        margin-left: 0px;
    }
    .btn{
        font-size: .75rem;
    }
    #edit-btn,#delete-btn{
        width: 50px;
    }
    .main-container .box1{
    margin-bottom: 60px;
}
    .subtitle-div{
        float: left;
        margin-left: 10px;

    }
    #subtitle{
        color: black;
        margin-left: auto;
        font-size: 1.1rem;
    }
    .search-div{
        float: inline-end;
        margin-top: 0px;
        
    }
    #image-div{
        width: 50px;
        padding: 2px;
    }
    img{
        width: 50px;
        height: 50px;
    }
    #action-div{
        width:60px;
    }
    #edit-btn,#delete-btn{
        margin-top: 1.9%;
        width: 50px;
    }
    #name_div{
        max-width: 100px;
        overflow: hidden;
        word-wrap: break-word;
    }
    #contact_div{
        max-width: 20px;
        overflow: hidden;
        word-wrap: break-word;
    }
    #pen{
        font-size: larger;
    }
}